.projects {
    margin: 40px auto;
    padding-top: 50px;

    align-items: center;
    display: flex;
    flex-direction: column;

    @media(max-width: 1200px) {
        margin: 0px auto;
        padding-top: 10px;
    }

    @media(max-width: 800px) {
        padding-top: 50px;
    }

    @media(max-width: 500px) {
        padding-top: 30px;
    }
}

.projects-header {
    margin: auto;
    padding-bottom: 70px;
    font-weight: 500;

    font-size: 70px;
    text-transform: uppercase;
    
    @media(max-width: 800px) {
        font-size: 60px;
        padding-bottom: 30px;
    }

    @media(max-width: 500px) {
        font-size: 40px;
    }
}

.projects-gallery {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    @media(max-width: 1200px) {
        width: 95%;
    }

    @media(max-width: 800px) {
        width: 90%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @media(max-width: 500px) {
        flex-direction: column;
        width: 70%;
    }
}

.projects-card {
    width: 28%;
    padding: 40px;
    border: 0.5px solid #ffff;
    border-radius: 10px;

    font-size: 15px;
    color: #ffff;

    position: relative;

    @media(max-width: 1200px) {
        width: 32%;
    }

    @media(max-width: 800px) {
        width: 47%;
        margin-bottom: 20px;

        padding: 30px;
    }

    @media(max-width: 500px) {
        width: 100%;
        font-size: 14px;

        padding: 20px 30px;
    }
}

.projects-card h3 {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 15px;
    text-wrap: nowrap;

    @media(max-width: 800px) {
        
    }
}

.projects-card h3 a {
    padding: 5px 0px;
    padding-right: 20px;
    transition: all 200ms ease;
    border-bottom: 0.5px solid #ffff;
    
}
.projects-card h3 a:hover {
    border-bottom: 0.5px solid transparent;
}

.project-desc {
    padding-bottom: 30px;


    @media(max-width: 500px) {
        width: 90%;
    }
}

.project-stack {
    padding-bottom: 70px;
}

.stack {
    margin-bottom: 10px;
}

.repository-div {
    position: absolute; 
    bottom: 0;
    padding-bottom: 40px;
}

.repository-div a {
    padding-bottom: 5px;
    padding-right: 20px;
    border-bottom: 0.5px solid rgb(100, 100, 100);

    color: rgb(100, 100, 100);
    font-size: 13px;

    transition: all 200ms ease;
}

.repository-div a:hover {
    color: #ffff;
    border-bottom: 0.5px solid #ffff;
}