.contact-container {
    margin: 150px auto;
    padding-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;

    @media(max-width: 800px) {
        margin: 50px auto;
    }

    @media(max-width: 500px) {
        padding-top: 0px;
    }
}

.contact-container h2 {
    margin: auto;
    padding-bottom: 50px;
    font-weight: 500;

    font-size: 70px;
    text-transform: uppercase;

    @media(max-width: 800px) {
        font-size: 60px;
    }

    @media(max-width: 500px) {
        font-size: 40px;
    }
}

.contact-block {
    width: 60%;
    display: flex;
    justify-content: space-around;

    @media(max-width: 800px) {
        width: 100%;
        align-items: center;
    }
}

.form, .photo-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form input {
    max-width: 450px;
    padding: 10px;
    margin-bottom: 10px;

    font-size: 16px;
    border: none;
    border-bottom: 0.5px solid #ffff;
    color: #ffff;

    @media(max-width: 1200px) {
        max-width: 350px;
    }

    @media(max-width: 800px) {
        max-width: 450px;
        font-size: 14px;
    }

    @media(max-width: 500px) {
        align-items: center;
        max-width: 300px;
        font-size: 14px;
    }
}

.form form input:focus {
    outline: none;
    /* border: none; */
    box-shadow: none;
    color: #ffff;
}

.form form input::placeholder {
    font-size: 14px;
}

.form form input:valid {
    color: #ffff; 
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid #ffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
{
    -webkit-text-fill-color: #ffff !important; 
    background-color: #1C1C1C !important;
    border: 1px solid #1C1C1C !important;
    border-bottom: 0.5px solid #ffff !important; 
    box-shadow: 0 0 0 30px #1C1C1C inset !important;
    caret-color: #ffffff !important;
}

.form form textarea {
    width: 450px;
    padding: 10px;
    margin-bottom: 10px;

    font-size: 16px;
    border: none;
    border-bottom: 0.5px solid #ffff;
    color: #ffff;

    resize: none;

    @media(max-width: 1200px) {
        width: 350px;
    }

    @media(max-width: 800px) {
        width: 450px;
    }

    @media(max-width: 500px) {
        width: 300px;
        font-size: 14px;
    }
}

.form form textarea:focus {
    outline: none;
    box-shadow: none;
    color: #ffff;
}

.form form textarea::placeholder {
    font-size: 14px;
}

.button-div {
    display: flex;
    justify-content: end;
    align-items: center;
}

.button-div button {
    margin: 10px 5px;
    padding: 5px 35px;

    border: 1px solid #DAA8BD;
    font-size: 15px;

    transition: all 300ms ease;
}

.button-div button:hover {
    background: #DAA8BD;
    color: #1C1C1C;
}

.success-message,
.error-message {
    max-width: 250px;
    margin-right: 40px;

    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.success-message.active,
.error-message.active {
  opacity: 1;
}

.photo-div {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(max-width: 1200px) {
        width: 250px;
    }

    @media(max-width: 800px) {
        display: none;
    }
}

.photo-div img {
    width: 90%;
    padding: 10px;
    padding-bottom: 40px;
    background: #ffff;

    border: 1px solid #ffff;
}